/* Confirmation.css */

.confirmation-container {
  max-width: 600px;
  margin:  auto;
  padding: 20px;
  background-color: #b6b6b6;
}

table {
  width: 50%;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

body {
  background-color: #b6b6b6;
  font-family: Arial, Helvetica, sans-serif;
}