.searchbar {
    margin: 0 20px; 
}
.searchInputs {
    border: 1px solid #BFBFBF;
    display: flex;
    align-items: center;
    background-color: #ECECEC;
}


input {
    flex: 1;           
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px 0 0 4px;  
    color: #1D1D1D;
}

.searchIcon {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;        
    border-radius: 0 4px 4px 0;  
    background-color: #CF291D;
    color: #ECECEC;
}

.dataResult {
   
    max-height: 300px;
    overflow-y: auto; 
    background-color: #ECECEC;
    color: #1D1D1D;
}

.movieResult {
    display: flex;     
    margin-bottom: 10px;
    border-bottom: 1px solid #BFBFBF;
}

.movieThumbnail {
    width: 50px;       
    height: 75px;      
    margin-right: 10px;
    object-fit: cover; 
}

.movieDetails {
    flex: 1;          
}

.movieDetails h4 {
    color:#BFBFBF;
}

.movieDetails p {
    color:  #BFBFBF;
    font-size: 14px;
}