.searchbar {
    margin: 0 20px; 
    color: #CF291D;
}
.searchInputs {
    border: 1px solid #BFBFBF;
    display: flex;
    align-items: center;
    background-color: #ECECEC;
    border-radius: 20px;
    overflow: hidden;
}

input {
    flex: 1;
    border: none; 
    padding: 10px;
    margin: 0;
    border-radius: 20px 0 0 20px; 
    color: #1D1D1D;
    height: 100%;
}

.searchIcon {
    display: flex;
    padding: 10px;
  
  
    background-color: #CF291D;
    color: #ECECEC;
}

.dataResult {
   
    max-height: 300px;
    overflow-y: auto; 
    background-color: #ECECEC;
    color: #1D1D1D;
}

.movieResult {
    display: flex;     
    margin-bottom: 10px;
    border-bottom: 1px solid #BFBFBF;
}

.movieThumbnail {
    width: 50px;       
    height: 75px;      
    margin-right: 10px;
    object-fit: cover; 
}

.movieDetails {
    flex: 1;          
}

.movieDetails h4 {
    color:#BFBFBF;
}

.movieDetails p {
    color:  #BFBFBF;
    font-size: 14px;
}