.searchbar {
    margin: 0 20px; 
}
.searchInputs {
    display: flex;       
    align-items: center;  
}


input {
    flex: 1;           
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px 0 0 4px;  
}

.searchIcon {
    display: flex;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;        
    border-radius: 0 4px 4px 0;  
}

.dataResult {
   
    max-height: 300px;
    overflow-y: auto; 
}

.movieResult {
    display: flex;     
    margin-bottom: 10px;
}

.movieThumbnail {
    width: 50px;       
    height: 75px;      
    margin-right: 10px;
    object-fit: cover; 
}

.movieDetails {
    flex: 1;          
}
