.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ECECEC; 
}

.ticket-selector {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px; 
    border: 1px solid #BFBFBF;
    padding: 40px; 
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 0 5px #BFBFBF; 
    
}

.ticket-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
}

.ticket-category button {
    background-color: #CF291D;
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 60px; 
    height: 60px;
    flex-basis: 60px;
}

.ticket-category button:hover {
    background-color: #850717;
}

.ticket-category span:first-child {
    flex-basis: 120px; 
    text-align: left;
    color: #1D1D1D;
}

.ticket-count {
    display: inline-block;
    flex-basis: 60px;
    text-align: center;
    color: #1D1D1D; 
}

.ticket-category span:last-child {
    flex-basis: 100px; 
    text-align: right;
    color: #1D1D1D; 
}

.close-btn {
    position: absolute;
    top: 10px; 
    right: 10px;
    background-color: #850717; 
    color: white;
    border: none;
    padding: 3px 6px;  
    width: 30px;      
    height: 30px;    
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;  
    text-align: center; 
}

.confirm-btn {
    background-color: #CF291D; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;  
    align-self: center; 
}

.confirm-btn:hover {
    background-color: #850717;
}
