.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.leftLinks, .rightLinks {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;

    &:hover {
        background-color: #f0f0f0;
    }
}

.link, .accountSection {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    margin: 0 10px;
}

.accountLinks {
    display: flex;  
    justify-content: center; 
    gap: 5px;  
}

.accountLink {
    font-size: 12px;
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

.accountLink:hover {
    color: #0056b3;
    text-decoration: underline;
}

.accountSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountLinks {
    display: flex;
    gap: 10px;
}

.modalOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;          /* Adjusted to 95% of the viewport width */
    max-height: 90vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center; 
}


.modalContent {
    width: 80%;        /* Taking up 90% of the viewport width */
    min-width: 300px;  /* Setting a minimum width */
    max-width: none;   /* No restriction on maximum width */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    overflow-y: auto; 
}

.modalContent form input {
    width: 100%;         /* Making input fields take up 80% of modal's width */
    max-width: none;   /* Setting a maximum width so fields don't stretch too much */
    margin: 10px auto;  /* Centering fields */
    display: block;
}

.forgotPassword {
    display: block;
    margin: 10px 0;
    text-align: right;
    color: #007BFF;
    transition: color 0.3s ease;
}

.forgotPassword:hover {
    color: #0056b3;
    text-decoration: underline;
}

body {
    overflow-y: scroll;
}

/* ... your existing CSS ... */

.signInFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.rememberSection {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}
.forgotPassword {
    color: #007BFF;
    transition: color 0.3s ease;
    cursor: pointer; /* Just to indicate it's clickable */
}

.forgotPassword:hover {
    color: #0056b3;
    text-decoration: underline;
}

.checkboxSection {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between checkbox and label */
}

.promotionSection label {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between checkbox and label text */
}

.promotionSection {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between checkbox and label text */
}