.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    background-color: #1D1D1D;
    color: #ECECEC;
}

.leftLinks, .rightLinks {
    display: flex;
    gap: 20px;
    
    
}

.rightLinks {
    display: flex;
    gap: 20px;
    justify-content: flex-end;  
    margin-left: auto;
    padding-right: 15px;
}

.link {
    text-decoration: none;
    color: #ECECEC;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;

}

.logoutButton {
    width: 70px; 
    padding: 8px 5px; 
    font-size: 0.85em;
    min-width: auto; 
    
}


.link, .accountSection {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    margin: 0 10px;
}

.accountLinks {
    display: flex;  
    justify-content: center; 
    gap: 5px;  
}

.accountLink {
    font-size: 12px;
    text-decoration: none;
    color: #CF291D;
    transition: color 0.3s ease;
}

.accountLink:hover {
    color: #850717;
    text-decoration: underline;
}

.accountSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountLinks {
    display: flex;
    gap: 10px;
}

.welcomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    gap: 5px; /* Adjust gap between "Welcome" and email name */

    /* Changed color b/c it blended in with the links */
    color:#CF291D;
    font-size: 20px;
}

.welcomeLogoutGroup {
    display: flex;
    gap: 10px; /* Adjust as needed for spacing between "Welcome" section and "Logout" button */
    align-items: center;
    margin-left: auto;
  
}

/* Admin Utilities Dropdown Styles */
.admin-utilities-dropdown {
    position: relative;
    display: inline-block;
  }
  
  /*-------------------------------------------*/
  /*Changed admin button to link, more streamlin*/
  .admin-dropdown-link {
    text-decoration: none;
    color: white;
  }

  .admin-dropdown-link:hover{
    color: #CF291D;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    left: 50%; /*<--------------------------------------- Centers the drop down*/
    min-width: 200px; /*<-------------------------------- Adjust width */
    transform: translateX(-50%);
  }
  
  .dropdown-content .dropdown-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s;
  }
  
  .dropdown-content .dropdown-link:hover {
    background-color: #e9c8c8; /*<--------- Changed the hover color*/
    border-radius: 4px;
  }
  
  .admin-utilities-dropdown:hover .dropdown-content {
    display: block;
    border-radius: 4px;
  }
  
  .admin-utilities-dropdown:hover .dropdown-button {
    background-color: transparent;
  }

/*-------------------------------------------------------------*/
/*Changed logout button to link and hover color, more streamline*/
.logout {
    text-decoration: none;
    color: white;
}

.logout:hover {
    color: #CF291D;
}