.profile-form{
    background-color:#0A0A0A; 
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.profile-form-header{
    background-color: #d6190c;
    border-radius: 10px;
    font-size: 50px;
    font-family:  Helvetica, sans-serif;
    color: #ECECEC;
}

.profile-form-items{
    background-color:  #373737;
    border-radius: 10px;
    color: #1D1D1D;
    display: flex;
    flex-direction: column;
}

.profile-form-label{
    display: inline-block;
    text-align: left;
    padding-bottom: 10px;
    font-size: 17px;
    width: 40%;
    color: #fcf5f5;
    
}

.profile-form-input{
    border: 1px solid #7A000D;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 17px;
    width: 150px;
    background-color: #ECECEC;
    color: #1D1D1D;
    padding: 8px 10px;
   
}

.button{
    text-align: left;
    font-size: 15px;
    width: stretch;
    border: none;
    cursor: pointer;
    color: #ECECEC; 
    background-color: #B0261B;
}

.hidden {
    display: flex;
    flex-direction: column;
}

.profile-footer{
    padding-top: 20px;
    text-align: center;
}

.profile-footer-button{
    border-radius: 10px;
    background-color: #CF291D;
    color: #ECECEC;
    border: 1px solid #850717;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-footer-button:hover {
    background-color: #850717;
    color: #ECECEC;
}

.save-button{
    background-color: #CF291D;
    color: #ECECEC;
    border: 1px solid #850717;
}

.save-button:hover {
    background-color: #850717; 
    color: #ECECEC;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #B0261B;
}


.form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-section-button {
    margin-left: auto; 
    align-self: flex-end; 
}

.button, .save-button, .profile-footer-button {
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
}
.promo-label {
    color: white;
    margin-left: 20px;  
    display: inline-flex;
    align-items: center;
}

.promo-label input {
    margin-right: 5px; 
}

.message-container {
    color: red; /* or any color you prefer */
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}
.profile-form-text {
    color: white;
  }