.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modalContent {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;  /* Decreased width */
    height: 400px; /* Increased height */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #cccccc; /* Added border */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.checkboxContainer label {
    margin-left: 5px;
    padding-top: 10px; 
    top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

.forgotPasswordLink {
    margin-top: 10px;
    text-align: right;
}

a {
    text-decoration: none;
    color: #007BFF;
}
