/* Checkout.css */
.container {
  margin-bottom: 20px;
  text-align: center;
}

.container2 {
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 50%;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: auto; 
  text-align: left;
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}


button:hover {
  background-color: #d00a0a;
}

body {
  background-color: #b6b6b6;
  font-family: Arial, Helvetica, sans-serif;
}

.save-info-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 20px;
  font-size: 10px;
}

.checkout-button {
  padding: 10px 20px;
  background-color: #f6f6f6;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 50px;
}