.nav{
    width: 100%;
    background-color: rgb(161, 155, 193);
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-itam a {
    color: white;
    padding: 10px 15px;
}

.logo{
    display: flex;
    padding-top: 10px;
    font-size: 25px;
}
