.header{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: column; 
  
}

.header2{
    text-align: center;
    color: white;
    margin: 10px;
}

.form{
    background-color: #1D1D1D;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
    display: flex;
    flex-direction: column; 
}

.form-body > *{
    padding: 5px;
}

.form-label{
    display: inline-block;
    color: #ECECEC;
    font-size: 17px;
    width: 45%;
}

.form-input{
    border-radius: 10px;
    padding-left: 10px;
    font-size: 17px;
    width: 40%;
    margin-bottom: 10px;
    border: 1px solid #CF291D;
    background-color: #ECECEC;
    color: #1D1D1D;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-left: 15px; 
    accent-color: #CF291D;
}
.checkbox-container {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    width: 100%;
    
}


.checkbox-label {
    width: calc(100% - 25px); 
    color: #ECECEC;
    line-height: 24px; 
    font-size: 17px;
    margin: 0;
    padding: 0;
    
}

.footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.button {
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.363);
    font-size: 20px;
    height: 40px;
    width: 150px;
    text-align: center;
    padding-left: 25%; 
    background-color: #CF291D;
    color: #ECECEC;
    transition: background-color 0.3s ease; 
    cursor: pointer; 
}

.button span {
    align-self: center;
}



.register-button-container {
    align-self: flex-end; 
    margin-bottom: 10px; 
    margin-left: auto;
}

.signIn {
    flex: 1; 
    text-align: center; 
    color: white; 
}



.hr{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}


.checkbox-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.checkbox, .checkbox-label {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

.signIn a {
    color: #CF291D;  
    text-decoration: none;
    transition: color 0.3s ease; 
}

.signIn a:hover {
    color: #850717;
}

.form a {
    color: #CF291D; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.form a:hover {
    color: #850717;
}

.error-message {
    color: red;
    font-weight: bold;
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 20px;
  }
  