.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.ticket-selector {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px; /* Doubled the width */
    border: 1px solid #ddd;
    padding: 40px; /* Adjusted padding */
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 0 5px #ddd; /* Added another "border" */
}

.ticket-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Adjusted for spacing */
}

.ticket-category button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px; /* Adjusted for size */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 60px; /* Adjusted for size */
    height: 60px; /* Adjusted for size */
    flex-basis: 60px;
}

.ticket-category button:hover {
    background-color: #0056b3;
}

.ticket-category span:first-child {
    flex-basis: 120px; /* Adjusted for size */
    text-align: left;
}

.ticket-count {
    display: inline-block;
    flex-basis: 60px;
    text-align: center;
}

.ticket-category span:last-child {
    flex-basis: 100px; /* Adjusted for size */
    text-align: right;
}

.close-btn {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: red; 
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
