.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1D1D1D;
}

.modalContent {
    width: 80%;
    min-width: 300px;
    padding: 20px;
    background: #ECECEC; 
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    overflow-y: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #CF291D;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #BFBFBF; 
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin: 5px 0;
}


.checkboxContainer input[type="checkbox"] {
    margin-right: 5px;
}

button {
    margin-left: auto;
    width: 100%;
    max-width: 250px; 
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 5px 0;
    display: block;
    color: #ECECEC; 
    background-color: #CF291D; 
    
}

button:hover {
    background-color: #850717;
}

button:disabled {
    background: #BFBFBF;
    cursor: not-allowed;
}

.forgotPasswordLink {
    margin-top: 10px;
    text-align: right;
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #CF291D;
}
a:hover {
    color: #850717; 
}

.actionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}