.summary-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 40px;
  background-color: #ECECEC;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #FFFFFF; 
}

h1 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #FF3A20;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 500;
  color: #FF3A20;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #FFFFFF;
}

p {
  margin-bottom: 10px;
  color: #FFFFFF;
}

.order-item {
  padding: 20px;
  background-color: #373737;
  border-radius: 8px;
  margin-bottom: 20px;
}

hr {
  border: none;
  border-top: 2px dashed #BFBFBF;
  margin: 20px 0;
}

body {
  background-color: #1D1D1D; 
  font-family: Arial, Helvetica, sans-serif;
}
