.add-promo-header {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #CF291D; /* Changed Color */
}

/*--------------------------------------------------*/
  /* Changed className, font and hover color*/

  .add-promo-exit-link-container {
    display: flex;
    justify-content: flex-end;
    margin: 25px;
  }

.add-promo-exit-link-styles {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: #CF291D;
}

.add-promo-exit-link-styles:hover {
  color: black;
}

/* Created add-promo-container for better UX design */
.add-promo-container {
  background-color: rgb(192, 192, 192);
  width: 50%; 
  margin: 0 auto;
  padding: 20px;  
  border-radius: 25px;
  margin-bottom: 25px;
}
/*--------------------------------------------------*/

.add-promo-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.add-promo-label {
    margin-top: 10px;
    font-weight: bold;
}

.add-promo-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.add-promo-btn {
    background-color: #CF291D; /* Changed Color */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.add-promo-btn:hover {
    background-color: #9e261e; /* Changed Color */
}

  /*---------------------------------------*/
  /* Created add-promo-button-container */
  .add-promo-button-container {
    display: inline-flex;
    margin-top: 30px;
    justify-content: center;
  }
/*---------------------------------------*/
