.confirmationContainer {
    background-color: #1D1D1D;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
}

.confirmationContainer h2 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 20px 0;
}

.confirmationContainer p {
    color: #ECECEC;
    font-size: 17px;
    text-align: center;
    margin: 10px 0;
}

.confirmationContainer button {
    display: block;
    border-radius: 5px;
    border: none;
    background-color: #CF291D;
    color: #ECECEC;
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirmationContainer button:hover {
    background-color: #850717;
}
