.add-movie-header {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #CF291D; 
}



  .add-movie-exit-link-container {
      display: flex;
      justify-content: flex-end;
      margin: 25px;
    }

  .add-movie-exit-link-styles {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      color: #CF291D;
  }

  .add-movie-exit-link-styles:hover {
    color: black;
  }

  .add-movie-container {
    background-color: rgb(192, 192, 192);
    width: 50%; 
    margin: 0 auto;
    padding: 20px;  
    border-radius: 25px;
    margin-bottom: 25px;
  }


.add-movie-form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .add-movie-label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .add-movie-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  .add-movie-textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  .add-movie-btn {
    background-color: #CF291D; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .add-movie-btn:hover {
    background-color: #9e261e;

 
  }
  .add-movie-button-container {
    display: inline-flex;
    margin-top: 30px;
    justify-content: center;
  }

  