.add-showtime-header {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #CF291D; 
}

.add-showtime-container {
    background-color: rgb(192, 192, 192);
    width: 50%;
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  
.add-showtime-from {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
.add-showtime-label {
    margin-bottom: 8px;
  }
  
.add-showtime-input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .add-showtime-btn {
    padding: 10px;
    background-color: #CF291D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
  }
  
  .add-showtime-btn:hover {
    background-color: #9e261e; 
  }
  
  .add-showtime-exit-link-container {
    display: flex;
    justify-content: flex-end;
    margin: 25px;
  }
  
  .add-showtime-exit-link-styles {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: #CF291D; 
  }

  .add-showtime-exit-link-styles:hover {
    color: black;
  }